.header {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    .logo {
        font-family: 'Space Mono', monospace;
        color: #FFF;
    }
    nav {
        display: flex;
        ul {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            li {
                color: #FFF;
                margin-right: .5em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}